#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

#main h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5%;
}

.filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 3% auto 1%;
}

.items_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}