.wrapper_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  /* font-weight: 700; */
  margin-bottom: 5%;
  padding: 10px;
}

.wrapper_item img {
  width: 100px;
  height: 200px;
  font-weight: 400;
}

.wrapper_item button {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 5% 0 0 20%;
  padding: 5px 10px;
  border-radius: 5px;
}

.wrapper_item button:hover {
  cursor: pointer;
  background: rgb(213, 216, 214);
  box-shadow: 0 0 10px rgb(247 255 0);
}

.wrapper_item button:focus {
  outline: none;
}

.description {
  display: block;
  text-align: left;
  margin-left: 10px;
}

.description h4 {
  font-size: 1.1rem;
}