#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  background: rgb(0 77 191);
}

#sign_up_btn {
  margin-left: 10%;
}

.ant-space-vertical .ant-input {
  width: 300px;
  margin-right: 10px;
}

.buttons_wrapper {
  width: 160px;
  display: flex;
  justify-content: space-between;
}